<div class="pizza-summary">
    <h2>Order Summary</h2>
    <div class="pizza-summary__pizza" *ngFor="let pizza of pizzas.value">
    
      <!-- Display the size of the pizza -->
      <div *ngIf="pizza.size">
        <h3>
          {{ pizza.size | titlecase }} Pizza
          <span class="pizza-summary__price">
            {{ prices[pizza.size].base | currency: 'USD' }}
          </span>
        </h3>
        
        <!-- Custom pipe -->
        <div class="pizza-summary__toppings">
          Toppings: {{ pizza.toppings | formatToppings }}
        </div>
      </div>
    </div>
    <div class="pizza-summary__total-price">
      Total: {{ total | currency: "USD" }}
    </div>
  
    <button
      type="submit"
      class="pizza-summary__button"
      [disabled]="pizzas.invalid"
    >
      Place order
    </button>
  </div>